.form {
  width: 400px;

  padding: 16px;
  padding-top: 8px;

  display: flex;
  flex-direction: column;

  border: 1px solid black;
}

.formElement {
  display: flex;
  flex-direction: column;
}

/* .input {
  width: 160px;
} */

/* .button {
  width: 120px;
} */
